body {
  font-family: Arial;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  border: 1px solid;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #4775d1;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #555;
}

button {
  background-color: #4775d1;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 80%;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 1.2em;
  color: #333;
}
